{% extends 'User/layout.html.twig' %}

{% block title_page %}{{ 'Connection' | trans }}{% endblock %}

{% block user %}
  {{ form(form) }}
  {#<div class="panel">
    <div class="panel-body">
      <a class="btn btn-facebook" href="{{ url('user_oauth_connect', {service: 'facebook'}) }}">
        <i class="fa fa-facebook"></i>
        <span>{{ 'Login with' | trans({'%service%' : 'Facebook'}) }}</span>
      </a><a class="btn btn-google" href="{{ url('user_oauth_connect', {service: 'google'}) }}">
        <i class="fa fa-google-plus"></i>
        <span>{{ 'Login with' | trans({'%service%' : 'Google'}) }}</span>
      </a>
    </div>
  </div>#}
{% endblock %}